/* Reset */
*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* set background color and image */
body {
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-mobile.png);
    background-size: cover;
    font-weight: 400;
}

h1 {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -.29px;
}

/* center content vertically and horizontally in page */
main {
    display: grid;
    justify-content: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* form side of page */
.left {
    margin-top: 5.5rem;
    text-align: center;
}

.left p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
    margin-top: 1rem;
}

.offer {
    align-items: center;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    box-shadow: 0px 7px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    font-size: 15px;
    height: 88px;
    justify-content: center;
    letter-spacing: .27px;
    line-height: 26px;
    margin-top: 4rem;
    padding-left: 4.187rem;
    padding-right: 4.187rem;
    text-align: center;
    width: 100%;
}

span {
    font-weight: 700;
}

/* Form styling */
form {
    margin-top: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 4rem;
    padding: 1.5rem;
    box-shadow:  0px 8px 1px rgba(0, 0, 0, 0.2);
}

.form-control {
    margin-bottom: 20px;
    position: relative;
}

.error-message {
    color: #FF7979;
    display: block;
    font-size: 11px;
    font-style: italic;
    text-align: right;
}

.error-icon {
    right: 27px;
    top: 17px;
    position: absolute;
}

.error {
    display: none;
}

input {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    color: #3D3B48;
    font-size: .875rem;
    font-weight: 600;
    height: 3.5rem;
    line-height: 1.625rem;
    letter-spacing: .25px;
    padding-left: 1.2rem;
    width: 100%;
}

input:focus {
    outline: none;
    border: 1px solid #5E54A4;
}

button {
    color: #fff;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, .0908);
    font-size: .937rem;
    font-weight: 600;
    height: 3.5rem;
    letter-spacing: 1px;
    line-height: 1.625px;
    margin-bottom: .5rem;
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;  
}

button:hover {
    background-color: #77E2B3;
}

/* Terms and conditions styling */
.terms {
    color: #BAB7D4;
    font-size: .687rem;
    font-weight: 500;
    line-height: 1.3rem;
    text-align: center;
}

.legal {
    text-decoration: none;
    color: #FF7979;
    font-weight: 700;
}


@media (min-width: 1000px) {
    body {
        align-items: center;
        background-image: url(images/bg-intro-desktop.png);
        background-size: cover;
        display: grid;
        height: 100vh;
        justify-content: center;
        margin-left: 8rem;
        margin-right: 8rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
       grid-gap: 2.81rem;
    }

    .offer {
        width: 100%;
        max-height: 60px;
        margin-bottom: 1.5rem;
        margin-top: 0;
    }

    .left {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 32.8rem;
        text-align: left;
    }

    h1 {
        font-size: 3.125rem;
        letter-spacing: -.52px;
        line-height: 3.4375rem;
        margin-bottom: 2.07rem;
    }

    .right {
        max-width: 474px;
        max-height: 540px;
    }
    
    form {
        margin-bottom: 0;
    }
}